{:tasks
 {test:clj (apply clojure "-M:test" *command-line-args*)

  test:bb {:extra-paths ["src" "test"]
           :extra-deps {io.github.cognitect-labs/test-runner
                        {:git/tag "v0.5.0" :git/sha "b3fd0d2"}
                        io.github.borkdude/deflet {:mvn/version "0.1.0"}}
           :task cognitect.test-runner/-main}

  quickdoc {:doc "Invoke quickdoc"
            :extra-deps {io.github.borkdude/quickdoc
                         {:git/sha "e4f08eb5b1882cf0bffcbb7370699c0a63c9fd72"}}
            :task (exec 'quickdoc.api/quickdoc)
            :exec-args {:git/branch "main"
                        :github/repo "https://github.com/babashka/http-client"
                        :source-paths ["src/babashka/http_client.clj"
                                       "src/babashka/http_client/interceptors.clj"
                                       "src/babashka/http_client/websocket.clj"]}}
  refresh-version {:requires ([babashka.fs :as fs]
                              [clojure.string :as str])
                   :task (let [version (-> (slurp "deps.edn")
                                           clojure.edn/read-string
                                           :aliases :neil :project :version)]
                           (fs/update-file "src/babashka/http_client/internal/version.clj"
                                           (fn [contents]
                                             (str/replace contents (re-pattern "#_:version(.*)")
                                                          (fn [[_ match]]
                                                            (str "#_:version " (pr-str version)))))))}

  publish {:depends [refresh-version]
           :task (clojure "-T:build deploy")}}}
