{:deps {}
 :aliases
 {:neil {:project {:name org.babashka/http-client
                   :version "0.4.19"}}
  :repl {:extra-deps {cheshire/cheshire {:mvn/version "5.11.0"}
                      io.github.borkdude/deflet {:mvn/version "0.1.0"}
                      babashka/fs {:mvn/version "0.2.16"}}}
  :test ;; added by neil
  {:extra-paths ["test"]
   :extra-deps {cheshire/cheshire {:mvn/version "5.11.0"}
                io.github.cognitect-labs/test-runner
                {:git/tag "v0.5.0" :git/sha "b3fd0d2"}
                http-kit/http-kit {:mvn/version "2.6.0"}
                babashka/fs {:mvn/version "0.2.16"}
                io.github.borkdude/deflet {:mvn/version "0.1.0"}}
   :main-opts ["-m" "cognitect.test-runner"]
   :exec-fn cognitect.test-runner.api/test}
  :build ;; added by neil
  {:deps {io.github.clojure/tools.build {:git/tag "v0.9.6" :git/sha "8e78bcc"}
          slipset/deps-deploy {:mvn/version "0.2.0"}}
   :ns-default build}

  :dev {:extra-deps {hato/hato {:mvn/version "0.9.0"}}}}}
